.title {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}